.cart-btn {
    background-color: #fff;
    color: #212529;
    font-weight: 500;
    border: none;
    text-decoration: none;
    padding: 10px 14px;
    text-transform: capitalize;
    border-radius: 7px;
}