.cart {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgb(195, 199, 199);
    border: none;
    min-height: 380px;
}

.icon {
    height: 26px;
    width: 26px;
}

.show-icon {
    color: black;
}

.show-icon:hover {
    color: rgb(240, 240, 240);
}